 <div style="background-image: url('https://wallpaper.dog/large/10737479.jpg'); background-repeat: none;">
 <%= render 'search/form' %>
 <br> <br>
<div class="columns bg-dark">
 
  <%= render 'shared/discussions' %>

   <%= @application.as_json %>


  <%= render 'sidebar' %>


</div>

</div>