<div style="background-image: url('https://wallpaper.dog/large/10737479.jpg'); background-repeat: none;">
<h1 class="title is-size-3">New Discussion</h1>

<%= render 'form', discussion: @discussion %>

<%= link_to 'Back', discussions_path %>
</div>